<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <!-- Masthead-->
        <header class="masthead" style="height: 100%">
            <div class="container px-4 px-lg-5 h-75">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <th:block th:unless="${session.session == null}">
                            <h3 class="text-white font-weight-bold">
                                Hello!, [[${session.session.name}]]
                            </h3>
                            <h3 class="text-white font-weight-bold">
                                Let's Mo Gak Ko !
                            </h3>
                            <hr class="divider" />
                        </th:block>
                        <th:block th:if="${session.session == null}">
                            <h3 class="text-white font-weight-bold">
                                Let's Mo Gak Ko !
                            </h3>
                            <hr class="divider" />
                        </th:block>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <a class="btn btn-primary btn-xl" id="meetings" th:href="@{/meetings}"
                            style="font-size: 1rem;">
                            모각코를 찾아보자
                        </a>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <a class="btn btn-primary btn-xl" id="myMeetings" th:href="@{/myMeetings}"
                           style="font-size: 1rem;">
                            내 모각코를 보자
                        </a>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <a class="btn btn-primary btn-xl" id="register" th:href="@{/meeting/register}"
                           style="font-size: 1rem;">
                            모각코를 만들자
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <script th:inline="javascript">
            window.onload = () => {

                const session = [[${session.session}]]

                const registerButton = document.querySelector("#register")
                const myMeetingsButton = document.querySelector("#myMeetings")

                const checkLogin = (e) => {
                    if (!session) {
                        e.preventDefault()
                        alert("로그인 후 이용해주세요.")
                        location.href = "/login"
                    }
                }

                registerButton.addEventListener("click", checkLogin)
                myMeetingsButton.addEventListener("click", checkLogin)

            }
        </script>
    </th:block>
</th:block>
</html>