<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <!-- Masthead-->
        <header class="masthead" style="height: 100%">
            <div class="container px-4 px-lg-5 h-75">
                <div class="row gx-4 gx-lg-5 justify-content-center" style="height: 40%;">
                    <div class="col-lg-8 col-xl-6 text-center"
                         style="display: flex;
                                font-size: x-large;
                                color: white;
                                align-items: center;">
                        <div style="text-align: left;
                                    padding: 0px 10px;
                                    font-family: emoji;"
                             id="toBack">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </div>
                        <h3 class="text-white font-weight-bold"
                            style="flex: 1;
                                    margin-bottom: 0px;">
                            Let's Mo Gak Ko!
                        </h3>
                        <div style="text-align: right;
                                    padding: 0px 10px;"
                             id="toMain">
                            <i class="bi bi-house-door"></i>
                        </div>
                    </div>
                    <div style="display: block;">
                        <hr class="divider">
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
<!--                         TODO : OAuth2 연동완료시 삭제-->
<!--                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">-->
<!--                            &lt;!&ndash; Name input&ndash;&gt;-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <input class="form-control" id="email" type="email" placeholder="Enter your email..." />-->
<!--                                <label for="email">Email</label>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Email address input&ndash;&gt;-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <input class="form-control" id="password" type="password" placeholder="8자 이상을 권장합니다." />-->
<!--                                <label for="password">Password</label>-->
<!--                            </div>-->
<!--                            <div class="d-grid mb-3">-->
<!--                                <button class="btn btn-primary btn-xl" id="loginButton" type="button">로그인</button>-->
<!--                            </div>-->
<!--                            <div class="d-grid mb-3">-->
<!--                                <button class="btn btn-primary btn-xl" id="signUpButton" type="button">회원가입</button>-->
<!--                            </div>-->
                            <div class="d-grid mb-3">
                                <a class="btn btn-primary btn-xl" id="google" href="/oauth2/authorization/google"
                                   style="font-size: 1rem;">
                                    구글 로그인
                                </a>
                            </div>
<!--                        </form>-->
                    </div>
                </div>
            </div>
        </header>

        <script th:inline="javascript">

            window.onload = () => {
                // TODO : OAuth2 연동완료시 삭제
                // const loginButton = document.querySelector("#loginButton")
                // const signUpButton = document.querySelector("#signUpButton")

                const mainBtn = document.querySelector("#toMain")
                mainBtn.addEventListener("click", toMain)
                const backBtn = document.querySelector("#toBack")
                backBtn.addEventListener("click", toBack)

                // TODO : OAuth2 연동완료시 삭제
                // loginButton.addEventListener("click", login)
                // signUpButton.addEventListener("click", () => {
                //     location.href = "/signup"
                // })

                // function login() {
                //     const email = document.querySelector("#email")
                //     const password = document.querySelector("#password")
                //
                //     const loginInputs = {
                //         "email" : email.value,
                //         "password" : password.value,
                //     }
                //
                //     callRestApi(loginEvent, "POST", "/api/member/login", loginInputs);
                // }
                //
                // function loginEvent() {
                //     try {
                //         if (httpRequest.readyState === XMLHttpRequest.DONE) {
                //             if (httpRequest.status === 200) {
                //                 window.location.href = "/"
                //             } else {
                //                 alert(httpRequest.responseText);
                //                 return;
                //             }
                //         }
                //     }
                //     catch( e ) {
                //         alert('Caught Exception: ' + e.description);
                //     }
                // }
            }

        </script>
    </th:block>
</th:block>
</html>