<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <!-- Masthead-->
        <header class="masthead" style="height: 100%">
            <div class="container px-4 px-lg-5 h-75">
                <div class="row gx-4 gx-lg-5 justify-content-center" style="height: 40%;">
                    <div class="col-lg-8 col-xl-6 text-center"
                         style="display: flex;
                                font-size: x-large;
                                color: white;
                                align-items: center;">
                        <div style="text-align: left;
                                    padding: 0px 10px;
                                    font-family: emoji;"
                             id="toBack">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </div>
                        <h3 class="text-white font-weight-bold"
                            style="flex: 1;
                                    margin-bottom: 0px;">
                            Let's Mo Gak Ko!
                        </h3>
                        <div style="text-align: right;
                                    padding: 0px 10px;"
                             id="toMain">
                            <i class="bi bi-house-door"></i>
                        </div>
                    </div>
                    <div style="display: block;">
                        <hr class="divider">
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <div class="d-grid mb-3">
                            <a class="btn btn-primary btn-xl" id="google" href="/oauth2/authorization/google"
                               style="font-size: 1rem;">
                                구글 로그인
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <script th:inline="javascript">

            window.onload = () => {

                const mainBtn = document.querySelector("#toMain")
                mainBtn.addEventListener("click", toMain)
                const backBtn = document.querySelector("#toBack")
                backBtn.addEventListener("click", toBack)

            }

        </script>
    </th:block>
</th:block>
</html>