<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <!-- Masthead-->
        <header class="masthead" style="height: 100%">
            <div class="container px-4 px-lg-5 h-75">
                <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h3 class="text-white font-weight-bold">Let's Sign Up!</h3>
                        <hr class="divider" />
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">

                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="Enter your email..." />
                                <label for="email">Email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="nickname" />
                                <label for="name">Nickname</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" type="password" placeholder="8자 이상을 권장합니다." />
                                <label for="password">Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="introduce" type="text" placeholder="안녕하세요?" />
                                <label for="introduce">introduce</label>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-xl" id="signup" type="button">가입하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <script th:inline="javascript">

            window.onload = () => {
                const email = document.querySelector("#email")
                const name = document.querySelector("#name")
                const password = document.querySelector("#password")
                const introduce = document.querySelector("#introduce")
                const signUpButton = document.querySelector("#signup")



                signUpButton.addEventListener("click", () => {

                    const signUpRequest = {
                        "email" : email.value,
                        "name" : name.value,
                        "password" : password.value,
                        "introduce": introduce.value,
                    }

                    callRestApi(signupProcess, "POST", "/api/member/signup", signUpRequest)
                })

                function signupProcess() {
                    try {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                            if (httpRequest.status === 200) {
                                alert("가입성공")
                                window.location.href = "/login"
                            } else {
                                alert(httpRequest.responseText);
                                return;
                            }
                        }
                    }
                    catch( e ) {
                        alert('Caught Exception: ' + e.description);
                    }
                }
            }
        </script>

    </th:block>
</th:block>

</body>
</html>