<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <!-- Masthead-->
        <header class="masthead" style="height: auto;">
            <div class="container px-4 px-lg-5 h-75">
                <div class="row gx-4 gx-lg-5 h-20 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h3 class="text-white font-weight-bold">Let's Mo Gak Ko!</h3>
                        <hr class="divider" />
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <div class="meetings">

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <script th:inline="javascript">

            window.onload = () => {
                var httpRequest = getHttpInstance();

                const meetingsDiv = document.querySelector(".meetings")

                // TODO : 직접 QueryParameter를 가지고 붙여서 처리하도록 수정 필요.
                fetch(`/api/meeting/paginated?&page=1`)
                    .then(response => response.json())
                    .then(meeting => {

                        const meetings = meeting.domains

                        meetings.forEach(meeting => {
                            const body = `
                                <div name="meeting"
                                style=" display: flex;
                                padding: 5px 5px 10px 5px;
                                /*border: solid 1px #f4623a;*/
                                align-items: center;
                                font-size: smaller;
                                ">
                                    <div style="flex: 1" name="meetingInfo" value="${meeting.meetingId}">
                                        ${makeBody("모임 이름", meeting.name)}
                                        ${makeBody("주소", meeting.primaryAddress)}
                                        ${makeBody("장소명",  meeting.placeName)}
                                        ${makeBody("날짜", meeting.startAt, "~", meeting.endAt)}
                                    </div>
                                    <button class="btn btn-primary btn-xl"
                                    style="height: 50px; padding: 10px 36px 10px 36px;"
                                    type="button" name='participate'> 참가하기 </button>
                                </div>
                             `

                            meetingsDiv.innerHTML += body
                        })

                        const participateButton = document.querySelectorAll('button[name="participate"]');

                        participateButton.forEach( button => {
                            const meetingId = button.closest('div[name="meeting"]')
                                .querySelector('div[name="meetingInfo"]')
                                .getAttribute(`value`)

                            button.addEventListener("click", () => participate(meetingId))
                        })

                        const meetingElements = document.querySelectorAll('div[name="meetingInfo"]');

                        meetingElements
                            .forEach(element => element.addEventListener(
                                "click",
                                () => {
                                    const meetingId = element.getAttribute("value")
                                    location.href = `/meeting-detail/${meetingId}`
                                })
                            )
                    })
                    .catch(error => {
                        console.error(error)
                        alert(error)
                    });

                // Function
                const makeBody = (text, ...data) => `<div class="text-white font-weight-bold"> ${text} : ${data.join(" ")} </div>`

                const participate = meetingId => {
                    const participateMeetingRequestDto = {
                        "meetingId" : meetingId,
                        // TODO : 변경필요
                        "memberId": 1,
                    }

                    callRestApi(() => participateEvent(meetingId), "POST", "/api/meeting/participate", participateMeetingRequestDto)
                }

                function getHttpInstance() {
                    if(!httpRequest) {
                        httpRequest = new XMLHttpRequest();
                    }

                    return httpRequest;
                }

                function callRestApi(e, type, url, data) {
                    const jsonParsedData = data ? JSON.stringify(data) : null;

                    httpRequest.onreadystatechange = e;
                    httpRequest.open(type, url);
                    httpRequest.setRequestHeader("Content-Type", "application/json")
                    httpRequest.send(jsonParsedData);
                }

                function participateEvent(meetingId) {
                    try {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                            if (httpRequest.status === 200) {
                                alert("모임 참가에 성공했습니다.")
                                window.location.href = `/meeting-detail/${meetingId}`
                            } else {
                                alert("모임 참가에 실패했습니다.");
                                return;
                             }
                        }
                    }
                    catch( e ) {
                        alert(`요청에 실패했습니다. 서버에 문의해주세요.`);
                    }
                }
            }

        </script>

    </th:block>
</th:block>
</html>