<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <!-- Masthead-->
        <header class="masthead" style="min-height: 100vh; height: auto;">
            <div class="container px-4 px-lg-5 h-75">
                <div class="row gx-4 gx-lg-5 h-20 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h3 class="text-white font-weight-bold">Let's Mo Gak Ko!</h3>
                        <hr class="divider"/>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <div class="meeting">

                        </div>
                        <div class="participants" style="padding: 0px 15px;">

                        </div>
                    </div>
                </div>
            </div>
        </header>


        <script th:inline="javascript">

            window.onload = () => {

                const session = [[${session.session}]]
                console.log(session)

                const meetingDetailDiv = document.querySelector(".meeting")
                const participantsDiv = document.querySelector(".participants")

                const parts = window.location.pathname.split('/');
                const meetingId = parts[parts.length - 1];
                // NOTE : 모임 상세 & 참여자 목록에 쓰기 위해 전역으로 선언헀음,
                let formattedStartAt = "";

                // REST API 호출 및 응답 처리
                fetch(`/api/meeting/${meetingId}`)
                    .then(response => response.json())
                    .then(meeting => {
                        // TODO : 추후 제거
                        console.log(meeting)

                        const startAt = new Date(meeting.startAt)
                        const daysOfWeek = ['일', '월', '화', '수', '목', '금', '토'];
                        const dayOfWeek = daysOfWeek[startAt.getDay()];

                        formattedStartAt =
                            `${startAt.getMonth() + 1}월 ${startAt.getDate()}일 (${dayOfWeek})
                            ${startAt.getHours()}:${startAt.getMinutes() < 10 ? '0' + startAt.getMinutes(): startAt.getMinutes()}`;

                        // 응답 데이터를 처리하는 코드 작성
                        const body = `
                        <div name="meetingBody"
                                style=" display: flex;
                                padding: 5px 5px 10px 5px;
                                align-items: center;
                                ">
                                <div style="flex: 1; margin: 10px 0px 10px 10px" id="meeting" value="${meeting.meetingId}">
                                    ${makeBody("모임 이름", meeting.name)}
                                    ${makeBody("주소", meeting.primaryAddress)}
                                    ${makeBody("장소명", meeting.placeName)}
                                    ${makeBody("날짜", formattedStartAt)}
                                    <div class="text-white font-weight-bold"
                                        style="opacity: 0.8;"> 참여 인원 ( ${meeting.numOfParticipants} / ${meeting.capacity} )  </div>
                                </div>
                                <button class="btn btn-primary btn-xl"
                                            style="height: 50px;
                                                    padding: 10px 36px 10px 36px;
                                                    display: none;"
                                            type="button" id='participate'> 참가하기 </button>
                                <button class="btn btn-primary btn-xl"
                                            style="height: 50px;
                                                    padding: 10px 36px 10px 36px;
                                                    display: none;"
                                            type="button" id='leave'> 참가취소 </button>
                        </div>
                         `
                        meetingDetailDiv.innerHTML += body

                        // 사용자에 따라 버튼을 활성화
                        activeRenderingButton(session)
                        // 각 버튼의 이벤트 추가
                        makeParticipateButtonEvent()
                        makeLeaveButtonEvent()
                        // 현재 모임의 참여자 목록 생성
                        makeParticipants(participantsDiv, meetingId)
                    })
                    .catch(error => console.error(error));

                // TODO: 현재 해당 모임에 참여하고 있는 여부에 따라서 참가 또는 참여취소 버튼을 보이지 않게 선언한다.

                // Function
                const makeBody = (text, ...data) => `<div class="text-white font-weight-bold"> ${text} : ${data.join(" ")} </div>`

                const activeRenderingButton = (session) => {

                    const participateBtn = document.querySelector("#participate")
                    const leaveBtn = document.querySelector("#leave")

                    // 사용자가 없을때는 아무것도 보이지 않게 한다.
                    if(!session) {
                        return;
                    }

                    fetch(`/api/member/${session.memberId}`)
                        .then(response => response.json())
                        .then(member => {
                            console.log(member)

                            let participatingMeetingId = member.participatingMeetingId;

                            if(participatingMeetingId === parseInt(meetingId)) {
                                displayButton(leaveBtn)
                            } else {
                                displayButton(participateBtn)
                            }
                        })
                }

                const displayButton = (button) => {
                    button.style.display = "block"
                }

                const makeParticipateButtonEvent = () => {
                    const participateButton = document.querySelector("#participate")
                    participateButton.addEventListener("click", () => participate(meetingId))
                }

                const participate = meetingId => {

                    const participateMeetingRequestDto = {
                        "meetingId": meetingId,
                        "memberId": session.memberId,
                    }

                    callRestApi(participateEvent, "POST", "/api/meeting/participate", participateMeetingRequestDto)
                }

                function participateEvent() {
                    try {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                            if (httpRequest.status === 200) {
                                alert("모임 참가에 성공했습니다.")
                                window.location.reload()
                            } else {
                                alert(httpRequest.response);
                                return;
                            }
                        }
                    } catch (e) {
                        alert(`요청에 실패했습니다. 서버에 문의해주세요.`);
                    }
                }

                const makeLeaveButtonEvent = () => {
                    const leaveButton = document.querySelector("#leave")
                    leaveButton.addEventListener("click", leave)
                }

                const leave = () => {
                    const leaveRequestDto = {
                        "memberId" : session.memberId,
                    }

                    callRestApi(leaveEvent, "POST", "/api/meeting/leave", leaveRequestDto)
                }

                function leaveEvent() {
                    try {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                            if (httpRequest.status === 200) {
                                alert("모임 참가에 성공했습니다.")
                                window.location.reload()
                            } else {
                                alert(httpRequest.response);
                                return;
                            }
                        }
                    } catch (e) {
                        alert(`요청에 실패했습니다. 서버에 문의해주세요.`);
                    }
                }

                const makeParticipants = (component, meetingId) => {

                    fetch(`/api/meeting/${meetingId}/participant`)
                        .then(response => response.json())
                        .then(members => {
                            // TODO : 추후 제거
                            console.log(members)
                            const participantsCount = members.length

                            const subTitle = `<div style='
                                text-align: center;
                                color: white;
                                font-size: larger;
                                opacity: 0.7;'
                                class="participantTitle">전체참여 목록</div>`

                            const meetingDateTitle =
                                `<div class="text-white font-weight-bold"
                                    style="margin: 5px 0px; font-size: large;">
                                    ${formattedStartAt} 일정 참석자 (${participantsCount}명)
                                </div>`

                            component.innerHTML += subTitle + meetingDateTitle

                            members.forEach(member => {
                                const participants =
                                    `<div name="participant"
                                        style="margin: 10px 5px;
                                                display: flex;
                                                align-items: center;"
                                        value="${member.memberId}">
                                        <div style="align-self: center;" name="userImg">
                                            <img src="/img/user/anonymous.png" style="max-width: 50px;" >
                                        </div>
                                        <div style="padding: 3px;" name="userDetail">
                                            <!-- TODO : 본인일 경우 표시를 할 수 도 있다.-->
                                            <div class="text-white font-weight-bold">${member.name}</div>
                                            <div class="text-white font-weight-bold" style="opacity: 0.7;">${member.introduce}</div>
                                        </div>
                                    </div>`

                                component.innerHTML += participants
                            })
                        })
                        .catch(error => console.error(error));
                }
            }
        </script>

    </th:block>
</th:block>
</html>