<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="map_wrap">
                    <div id="map">

                    </div>
                    <div id="menu_wrap" class="bg_white">
                        <div class="option">
                            <div>
                                <form onsubmit="searchPlaces(); return false;">
                                    키워드 : <input style="padding-left: 5px" type="text" id="keyword" size="20" placeholder="장소를 입력해주세요.">
                                    <button id="search" style="border: solid 1px gray;" type="submit">검색하기</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <ul id="placesList">
                            <li style="text-align: center">조회된 장소가 없습니다.</li>
                        </ul>
                        <div id="pagination"></div>
                    </div>
                    <div style="text-align: center" >
                        <button class="btn btn-primary btn-xl"
                                style="width: 30%;
                                height: 35px;"
                                id="closeSearchModal" type="button">
                            닫기
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-75">
<!--                높이 변경 h-25 -->
                <div class="row gx-4 gx-lg-5 h-25 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h3 class="text-white font-weight-bold">Let's Make Mo Gak Ko!</h3>
                        <hr class="divider" />
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">

                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" />
                                <label for="name">모임명</label>
                            </div>

                            <div class="d-flex">
                                <div class="form-floating mb-3" style="flex: 0.8;">
                                    <input class="form-control" id="primaryAddress" type="text" readonly />
                                    <label for="primaryAddress">기본주소</label>
                                </div>
                                <button class="btn btn-primary"
                                        id="searchPlace"
                                        style="flex: 0.8;
                                                height: 58px;
                                                margin-left: 3px;
                                                font-size: 0.85rem;
                                                font-weight: 700;
                                                text-transform: uppercase;
                                                border: none;
                                                border-radius: 10rem;" type="button">
                                    위치잦기
                                </button>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="placeName" type="text" />
                                <label for="placeName">장소명</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="description" type="text" />
                                <label for="description">설명</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="capacity" type="number" />
                                <label for="capacity">최대인원</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="startDate" type="date" />
                                <input class="form-control" id="startTime" type="time" />
                                <label for="startDate">시작시간</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="endDate" type="date" />
                                <input class="form-control" id="endTime" type="time" />
                                <label for="endDate">종료시간</label>
                            </div>

                            <!--  두 컴포넌트를 가로로 배치하고 비율만큼의 박스를 가진다. -->
                            <div class="d-flex mb-3">
                                <button class="btn btn-primary btn-xl"
                                        style="flex: 0.8; margin-right: 3px;"
                                        id="create" type="button">
                                    만들어요
                                </button>
                                <button class="btn btn-primary btn-xl"
                                        style="flex: 0.8;"
                                        id="cancel" type="button">
                                    만들지않아요
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <script th:inline="javascript">

            window.onload = () => {
                const createButton = document.querySelector("#create")
                const cancelButton = document.querySelector("#cancel")

                const name = document.querySelector("input[id='name']")
                const primaryAddress = document.querySelector("input[id='primaryAddress']")
                const placeName = document.querySelector("input[id='placeName']")
                const description = document.querySelector("input[id='description']")
                const capacity = document.querySelector("input[id='capacity']")

                const startDate = document.querySelector("input[id='startDate']")
                const startTime = document.querySelector("input[id='startTime']")
                const endDate = document.querySelector("input[id='endDate']")
                const endTime = document.querySelector("input[id='endTime']")

                createButton.addEventListener("click", createMeeting)
                cancelButton.addEventListener("click", () => {
                    window.location.href = "/"
                })

                function createMeeting() {

                    // TODO : 각 Value Validation
                    const createMeetingRequest = {
                        "name" : name.value,
                        "primaryAddress" : primaryAddress.value,
                        "placeName" : placeName.value,
                        "description" : description.value,
                        "capacity" : capacity.value,
                        "startAt" : `${startDate.value} ${startTime.value}`,
                        "endAt" : `${endDate.value} ${endTime.value}`,
                    }

                    callRestApi(createEvent, "POST", "/api/meeting", createMeetingRequest);
                }

                function createEvent() {
                    try {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                            if (httpRequest.status === 200) {
                                alert("모임이 생성되었습니다!")
                                window.location.href = "/"
                            } else {
                                alert("모임 생성을 실패했습니다!")
                                return;
                            }
                        }
                    }
                    catch( e ) {
                        alert('Caught Exception: ' + e.description);
                    }
                }
            }

        </script>

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4f0dae21f900df3142fba533f31b82b5&libraries=services"></script>
        <script>
            const modal = document.getElementById("myModal");
            const openSearchPlaceModalButton = document.querySelector("#searchPlace");
            const closeSearchPlaceModalButton = document.querySelector("#closeSearchModal")
            const closeButton = document.getElementsByClassName("close")[0];

            const placeName = document.querySelector("input[id='placeName']")
            const primaryAddress = document.querySelector("input[id='primaryAddress']")

            openSearchPlaceModalButton.addEventListener("click", () => {
                modal.style.display = "block";
            })

            closeSearchPlaceModalButton.addEventListener("click", () => {
                clearModal()
            })

            // 장소 검색 객체를 생성합니다
            var ps = new kakao.maps.services.Places();

            // searchPlaces();

            const searchButton = document.querySelector("#search")

            // 키워드로 장소를 검색합니다
            searchButton.addEventListener("click", searchPlaces)

            // 키워드 검색을 요청하는 함수입니다
            function searchPlaces() {

                var keyword = document.getElementById('keyword').value;

                if (!keyword.replace(/^\s+|\s+$/g, '')) {
                    alert('키워드를 입력해주세요!');
                    return false;
                }

                // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
                ps.keywordSearch(keyword, placesSearchCB);
            }

            // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
            function placesSearchCB(data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {

                    // 정상적으로 검색이 완료됐으면
                    // 검색 목록를 표출합니다
                    displayPlaces(data);

                    addEventPlaceItems();

                    // 페이지 번호를 표출합니다
                    displayPagination(pagination);
                } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                    alert('검색 결과가 존재하지 않습니다.');

                } else if (status === kakao.maps.services.Status.ERROR) {

                    alert('검색 결과 중 오류가 발생했습니다.');
                    return;

                }
            }

            // 검색 결과 목록과 마커를 표출하는 함수입니다
            function displayPlaces(places) {

                var listEl = document.getElementById('placesList'),
                    menuEl = document.getElementById('menu_wrap'),
                    fragment = document.createDocumentFragment();

                // 검색 결과 목록에 추가된 항목들을 제거합니다
                removeAllChildNods(listEl);

                for ( var i=0; i<places.length; i++ ) {

                    var itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

                    fragment.appendChild(itemEl);
                }

                // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
                listEl.appendChild(fragment);
                menuEl.scrollTop = 0;
            }

            // 검색결과 항목을 Element로 반환하는 함수입니다
            function getListItem(index, places) {

                var el = document.createElement('li'),
                    itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                        '<div class="info">' +
                        '   <h5 name="placeName">' + places.place_name + '</h5>';

                if (places.road_address_name) {
                    itemStr += '    <span name="primaryAddress">' + places.road_address_name + '</span>' +
                        '   <span class="jibun gray">' +  places.address_name  + '</span>';
                } else {
                    itemStr += '    <span name="primaryAddress">' +  places.address_name  + '</span>';
                }

                itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                    '</div>';

                el.innerHTML = itemStr;
                el.className = 'item';

                return el;
            }

            // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
            function displayPagination(pagination) {
                var paginationEl = document.getElementById('pagination'),
                    fragment = document.createDocumentFragment(),
                    i;

                // 기존에 추가된 페이지번호를 삭제합니다
                while (paginationEl.hasChildNodes()) {
                    paginationEl.removeChild (paginationEl.lastChild);
                }

                for (i=1; i<=pagination.last; i++) {
                    var el = document.createElement('a');
                    el.href = "#";
                    el.innerHTML = i;

                    if (i===pagination.current) {
                        el.className = 'on';
                    } else {
                        el.onclick = (function(i) {
                            return function() {
                                pagination.gotoPage(i);
                            }
                        })(i);
                    }

                    fragment.appendChild(el);
                }
                paginationEl.appendChild(fragment);
            }

            // 검색결과 목록의 자식 Element를 제거하는 함수입니다
            function removeAllChildNods(el) {
                while (el.hasChildNodes()) {
                    el.removeChild (el.lastChild);
                }
            }

            // 검색 목록에 클릭 이벤트를 추가해둔다.
            const addEventPlaceItems = () => {

                const infoElement = document.querySelectorAll('.info')

                infoElement.forEach(item => {
                    let placeNameEl = item.querySelector("h5[name='placeName']")
                    let primaryAddressEl = item.querySelector("span[name='primaryAddress']")

                    item.addEventListener("click", () => {

                        alert(`"${placeNameEl.innerHTML}" 를 선택하셨습니다.`)

                        placeName.value = placeNameEl.innerHTML
                        primaryAddress.value = primaryAddressEl.innerHTML

                        clearModal()
                    })
                })
            }

            const clearModal = () => {
                modal.style.display = "none";

                document.querySelector("#keyword").value = "";
                // document.querySelector("#pagination").innerHTML = "";
                // document.querySelector("#placesList").innerHTML = "";
            }

        </script>
    </th:block>
</th:block>

</html>